*{
    margin: 0;
    padding:0;
    list-style-type: none;
}
body{
    overflow-x: hidden;
    width: 100%;
}
.banner>div>div{
    display: flex;
    gap: 5px;
}

.bar>div>li{
    color:rgb(209, 206, 206);
    cursor: pointer;

}
.bar>div>i{
    font-size: 22px;
}
li:hover{
    text-decoration: underline;
}
.register{
    display: flex;
    list-style-type: none;
    width: 200px;
    height: 50px;
    background-color: #778486;
    border-radius: 5px;

    
}
.register>li{
    background-color:rgb(196, 212, 228) ;
    display: flex;
    width: 50%;
    height: 100%;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .3s ease;
    color: black;
    
}
.register>.register-botton{
    display: flex;
    gap: 5px;
    border-radius: 5px;
    width: 50%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
}
.register>.register-botton>li{
    text-decoration: none;   
}
.register>li:hover{
    background-color: #69becd;  /* darker shade */
    transform: translateY(-3px) scale(1.02); /* lift and grow */
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    font-size: large;
    text-decoration: none;
}
.register>.register-botton:hover{
    background-color: #0097a7;  /* darker shade */
    transform: translateY(-3px) scale(1.02); /* lift and grow */
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    font-size: large;
}
.acc>i{
    width: 20px;
    height: 100px;
    margin-left: 15px;
    cursor: pointer;
    color: white;
}
.search_Pop{
    margin-left: 50px;
    margin-top: -20px;
    display: flex;
    gap: 30px;
}
.search_recoment{
    background-color: whitesmoke;
    display: flex;
    gap: 50px;
    list-style-type: none;
    color: black;
    width: 90%;
    padding: 15px;
    border-radius: 10px;
    justify-content: center;
}
.search_recoment>li{
    cursor: pointer;
}
.header{
    padding: 10px;
    background-color: black;
    position: sticky;
    top:0;
    z-index:10;
}
.more{
    width: 90px;
    background-color:#4C5353;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
}


.search{
    display: flex;
    gap: 30px;
    margin-top:30px;
    margin-left: 150px;
}
.search-input{
    width:80%;
    height: 50px;
    border-radius: 10px;
    border:2px black solid;
    background-color:#778486 ;
}
.search-input>input{
    font-size: large;
    padding: 10px;
    width: 100%;
    height: 100%;
    color: black;
    font-family: sans-serif;
    cursor: pointer;
    background-color: #4C5353;
}
.search-button{
    width: 100px;
    align-items: center;
    background-color: #9ebcc0;
    border-radius: 10px;
    padding: 10px;
    font-size: large;
    display: flex;
    gap:10px;
    transition: all 0.3s ease;
    color:black;

}
.search-button:hover{
    background-color: #0097a7;  /* darker shade */
    transform: translateY(-3px) scale(1.05); /* lift and grow */
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);

}
.search-button>button{
    margin-left: 10%;
    cursor: pointer;
}
.search-button>i{
    font-size: small;
    cursor: pointer;
}
.slide{
    margin-left:140px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 350px;
    margin-top: 10px;
    background-color: rgb(104, 122, 138);
    width: 80%;
    height: 550px;
    padding: 20px;
    cursor:auto;
   
}
.slide>div>a{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: black;
    transition: all 0.5s ease;
    background-color:wheat;
    font-family:'Times New Roman', Times, serif;
}
.slide>div>a:hover{
    font-size: large;
    background-color: black;
    color: white; 
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2); /

}
.slide>div>h1{
    font-size: 4em;
    line-height: 1.2;
}
.slide .main_title{
    margin-top: 2px;
}

.main_title{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
    gap: 20px;
}
.ph3>img{
    width: 400px;
    height: 400px;
    margin-left: 80px;
    margin-top: -70px;
}
.ph1>img{
    width:300px;
    height: 400px;
    margin-left: -120px;
    margin-top: -70px;
}
.ph2>img{
    width: 400px;
    height: 200px;
    margin-left:10px;
    margin-top: 30px;
}
.ph4>img{
    width: 400px;
    height: 400px;
    margin-left: 80px;
    margin-top: -70px;
}

.main_title>h1{
    white-space: nowrap;
}
.Btn.active{
    background-color: rgb(45, 154, 154);
}
.main_title>a{
    background-color: rgb(46, 158, 173);
    padding: 5px;
    width: 100px;
    font-size: large;
    color: white;
}
.main-btn{
    margin-top: 565px;
    display: flex;
    z-index: 888;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    gap: 20px;
}
.Btn:hover{
    transform: scale(1.2);
}
.main-btn .Btn{
    width: 10px;
    height: 10px;
    background-color: rgb(233, 229, 229);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px white;
    transition: 0.3 ease;
}
.Btn.active{
    background-color: #005F6B;
}
.slide{
    position: absolute;             /* perfectly stacked */
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
    clip-path: circle(0% at 0 50%);
    transition: clip-path 2s ease;
    z-index: 1;
    margin-top: 40px;
}
.slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
    z-index: 2;
}
.main-btn{
    z-index: 3;
}
.slide2{
    gap: 10px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    background-color: rgb(63, 183, 177);
}
.slide2>div>h1{
    font-size: 50px
}

.slide3{
    gap: 10px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    background-color: rgb(120, 131, 229);
}
.slide3>div>h1{
    font-size: 40px
}
.slide4{
    gap: 10px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    background-color: rgb(65, 146, 93);
}
.slide4>div>h1{
    font-size: 50px
}
.slide4>div>p{
    font-size: 20px;
}
.Guaranteed{
    position: absolute;       
    left: 50%;
    margin-top: 480px;
    align-items: center;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 85px;
    background-color: #F8FAFC;
    color: #1F2933;
    border-radius: 10px;
    box-shadow:0 8px 30px rgba(0, 0, 0, 0.12),
    0 2px 8px rgba(13, 148, 136, 0.25);
    padding: 15px 35px;
    width: 75%;
    z-index: 5; 
    
}
.Guaranteed > li {
    display: flex;
    align-items: center;
    gap: 15px; 
}
.Guaranteed>li>i{
    background-color: rgb(118, 127, 204);
    box-shadow:0 8px 30px rgba(0, 0, 0, 0.12),
    0 2px 8px rgba(13, 148, 136, 0.25);
    padding: 10px;
    border-radius: 10px;
}
.Guaranteed>li:hover{
    text-decoration: none;
    cursor: pointer;
}

.Specail{
    margin: 80px;
    margin-top:70px;
    width: 90%;
    height: 800px;
    border-radius: 10px;
    box-shadow:
        0 16px 35px rgba(0, 0, 0, 0.15),
        0 6px 12px rgba(0, 0, 0, 0.10);
    
}
.nav{
    display: flex;
    gap:1100px;
    background-color: rgb(41, 101, 101);
    padding: 5px;
    border-radius: 10px;
}
.Specail>div>h2{
    font-size: 21px;
    font-family: serif;
    white-space: nowrap;
}
.viewall{
    display:flex ;
    gap: 10px;
    background-color: rgb(114, 230, 230);
    padding: 5px;
    border-radius: 10px;
    white-space: nowrap;
    box-shadow: 
        0 4px 10px rgba(0, 0, 0, 0.08),
        0 1px 3px rgba(0, 0, 0, 0.06);

    transition: all 0.4s ease;
}
.viewall:hover{
    
        cursor: pointer;
    background-color: #0097a7;  /* darker shade */
    transform: translateY(-1px) scale(1.05); /* lift and grow */
    box-shadow: 0 8px 20px rgba(0,0,0,0.2); /* stronger shadow */
    color: white;
}
.viewall>i{
    margin-top: 5px;

}
.Specail>div>img{
   width: 80px;
   height: auto;
}
.product{
    margin: 40px;
    display: flex;
    gap: 20px;
}
.Specail_product{
    display: grid;
    background-color: rgb(204, 218, 213);
    width: 400px;
    height: 320px;
    border-radius: 10px;
    padding: 10px;
    display: grid;
        box-shadow: 
        0 4px 10px rgba(0, 0, 0, 0.08),
        0 1px 3px rgba(0, 0, 0, 0.06);
    transition: 
        transform 0.35s ease,
        box-shadow 0.35s ease;
         position: relative;
    margin-top: -5px

}
.Specail_product:hover {
    transform: translateY(-8px) scale(1.02);
    box-shadow:
        0 16px 35px rgba(0, 0, 0, 0.15),
        0 6px 12px rgba(0, 0, 0, 0.10);
    z-index: 2; 
}
.Specail_product>h1{
    font-size: larger;
    font-family: sans-serif;
    display: flex;
    justify-content: center;

    
}
.pic1>img{
    margin-left: 25px;
    width: 300px;
    height: 120px;
}
.pic>img{
    margin-top: 10px;
    width: 300px;
    height: 120px;
}
.pic5>img{
    width: 260px;
    height: 120px;
}
.pic4>img{
    margin-left: 60px;
    width: 170px;
    height: 120px;
}
.pic6>img{
    margin-left: 60px;
    width: 170px;
    height: 140px;
}
.name>div{
    display: flex;
    gap: 2px
}
.favaurith>img{
    width: 80px;
    height: 20px;
}
.fa-heart{
    margin-top: 5px;
}
.name{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;       /* 2 rows */
    gap: 20px;
    background-color:rgb(138, 149, 152);
    padding: 10px;
    border-radius: 10px;
    height: 120px;

}
.name>p{
    grid-column: span 1;
}
.favaurith{
    grid-column: 1;
    background-color: rgb(237, 244, 242);
    width: 140px;
    border-radius: 5px;
    padding: 10px;


}
.ADD-card{
    grid-column:2;
    background-color: rgb(198, 216, 211);
    padding: 3px;
    border-radius: 10px;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 10px;
    transition: all 0.3s ease;
}
.ADD-card:hover {
    background-color: #0097a7;  /* darker shade */
    transform: translateY(-3px) scale(1.05); /* lift and grow */
    box-shadow: 0 8px 20px rgba(0,0,0,0.2); /* stronger shadow */
}
.ADD-card i {
    transition: transform 0.3s ease;
}

.ADD-card:hover i {
    transform: rotate(20deg) scale(1.2); 
}
.text>h2{
    margin-top: 40px;
    margin-left: 40px;
}
.product1{
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin-top: 20px;
}
.product1>.Specail_product {
    flex: 0 0 calc(100% / 4);  
    max-width: calc(100% / 3);
    box-sizing: border-box;
}

.Guaranteed{
    animation: fadeUp 1s ease;
}

.product::-webkit-scrollbar {
    display: none;
}
.product {
    scrollbar-width: none; 
    
}
.text1{
    margin-top:200px;
}
.second_layout{
    display: flex;
    width: 85%;
    gap: 20px;
    margin-left: 100px;
    height: 530px;
}
.second_layout>.first-item>.Specail_product{
    height: 98%;
    
}

.second_layout>.first-item>.Specail_product>.pic{
    margin-top: 100px;
    height: 100px;
}
.second_layout>.first-item>.Specail_product>.price_detail{
    
    margin-top: 100px;
}
.second-iteam{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
}
.second-iteam>.row2{
    width: 100px;
}
.second-iteam>.row3{
    display: flex;
    width: 100px;
    height: auto;
    margin-top: -100px;
}
.arr{
    font-size: larger;
    font-style: italic;
    font-weight: 400;
    margin-left:90px;
    padding: 10px;
}
.row2{
    margin-top: 120px;
    display: flex;
    gap: 15px;
}
.row3{
    gap: 15px;

}
.first-item>div{
    width: 350px;
    height: 420px;
    margin-top: 5px;
}
.row3>div{
    margin-top: 111px;
    gap: 20px;
}
.row2>div{
    
    margin-top: -110px;
    gap: 20px;
}
.second-iteam>div>h1{
    border-radius: 5px;
    background-color: #bbd4d7;
    width: 750px;
    height: 30px;
    padding: 10px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    padding: 20px;
    font-size: larger;
    box-shadow:
        0 16px 35px rgba(0, 0, 0, 0.15),
        0 6px 12px rgba(0, 0, 0, 0.10);
}
.second-iteam>.row2>.Specail_product>.pic>img,
.second-iteam>.row3>.Specail_product>.pic>img{
    width: 150px;
    height: auto;
    margin-left: 40px;
}
.second-iteam>.row2>.Specail_product,
.second-iteam>.row3>.Specail_product{
    height: 280px;
    border-radius: 10px;
    padding: 10px;

}

.second-iteam>.row2>.Specail_product>.price_detail>.name,
.second-iteam>.row3>.Specail_product>.price_detail>.name{
  height: 90px;
  gap: 10px;
  margin-top: 25px;
  
}

.second-iteam>.row2>.Specail_product>.price_detail>div,
.second-iteam>.row3>.Specail_product>.price_detail>div{
    padding: 2px;
    border-radius: 10px;
    height: 50px;
    width: 220px;
    font-size: small;
    gap: 3px;


}
.second-iteam>.row3>.Specail_product>.price_detail>.name>.favaurith>img,
.second-iteam>.row2>.Specail_product>.price_detail>.name>.favaurith>img{
    width: 60px;
    height: 15px;
    
}
.second-iteam>.row3>.Specail_product>.price_detail>.name>.favaurith,
.second-iteam>.row2>.Specail_product>.price_detail>.name>.favaurith{

    padding: -10px;
    width: 120px;
}
.Brands{
     display: flex;
    gap: 20px;               /* space between items */
    overflow-x: auto;        /* horizontal scroll */
    scroll-behavior: smooth; /* smooth scrolling */
    padding: 10px 20px;
    width: 95%;
    margin-left: 40px;
    border-radius: 10px;
    background: linear-gradient(135deg, rgba(180,215,220,0.6), rgba(200,230,235,0.6));
}

.Brands::-webkit-scrollbar {
    display: none;
}
.Brands {
    scrollbar-width: none;
}
@keyframes autoScroll {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

.brand.auto {
    animation: autoScroll 25s linear infinite;
}
.brand>img{
    width: 80px;
    height: auto;
}
.Text-brand{
    font-size: 28px;
    font-weight: 700;
    margin:16px 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.brand{
    flex: 0 0 25%;           /* each item takes 25% → 4 visible at a time */
    min-width: 250px;        /* optional: ensures items don’t shrink too much */
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    background-color: #3e568e;
    transition: 0.6s ease;
}
.brand:hover {
    transform: translateY(-8px) scale(1.03);
    background: #007a82;
    box-shadow: 
        0 15px 30px rgba(0, 0, 0, 0.25),
        0 0 25px rgba(0, 255, 255, 0.2);
}
footer {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 10px;
grid-row-gap: 10px;
padding: 10px;
margin-top: 60px;
}
.hr1{
    transform: rotate(90deg);
    margin-left:-220px;
    margin-top: 230px;
    width: 460px;
}
.hr2{
    width: 1490px;
    margin-left: -90px;
}
.footer-left { grid-area: 1 / 1 / 2/ 2; }
.footer-right{ grid-area: 1 / 3/ 2 / 5; }
.footer-bottom { grid-area: 3 / 1 / 3 / 5; }
footer>section>h2{
font-size: larger;
    font-weight: 600;
    margin-bottom: 10px;
}
footer>section>div>p,
footer>section>p{
   width: 400px;
   margin-left: 10px;
}
form{
    padding: 10px;
    display: flex;
    gap: 20px;
}
form>input{
        background-color: #007a82;
        padding: 20px;
        width: 400px;
        height: 30px;
        border-radius: 5px;
        cursor: pointer;
}
form>button{
        background-color: #007a82;
        padding: 20px;
        width: 100px;
        height: 30px;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
}
.Contact{
    margin-left: 10px;
    margin-top:20px ;
}
.Contact>h3{
    font-size: 25px;
}
.letter{
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
}
.footer-right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px 110px; 
    margin-left: -95px;
}
.x{
    margin-left: -25px;
}
.footer-right h3,
.footer-right li {
    white-space: nowrap;
    
}
.footer-right ul {
    padding-left: 10px;
    list-style-type: disc;
}
.footer-right h3{
    font-size: larger;
}

.footer-right li {
    display: block;
    line-height: 1.8;
}
.footer-bottom>div{
    margin-top: 20px;
    display: flex;
    width:1400px;
    justify-content: space-between;
}
.footer-bottom{
    margin-top: -411px;
}

.p{
    font-size: larger;
    white-space: nowrap;
    margin-top: 10px;
}
.pay1,.pay2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.pay2{
    margin-right: -60px;
}
.pay1>img{
    width: 60px;
    height: auto;
}
.pay2>img{
    width: 30px;
    height: auto;
}
.first-item{
    height:660px
}
.first-item>.big>.price_detail>.name{
    font-size: larger;
    margin-top: 150px;
}

.p1>img{
    width: 190px;
    height: 190px;
    margin-left: 35px;
    margin-top: -15px;
}
.p3{
    margin-left: 20px;
    width: 190px;
}
.p10{
    margin-left: 30px;
}
.p15>img{
    width: 320px;
    height: 320px;
    margin-top: -40px;
}
.p2>img{
    margin-top: -10px;
    width: 80px;
    height: 100px;
}
.fix{
    margin-top: -20px;
    margin-bottom: 20px;
}
.fix1{
    margin-top: -10px;
}
.fix2{
    margin-top: -25px;
}
.p22>img{
    width: 220px;
    height: 220px;
    margin-left:30px;
    margin-top: -15px;
}
.last>.Specail_product{
    height: 360px;
}
.second_layout>.second-iteam>div>.Specail_product>.price_detail>div>p:nth-child(2),
.second_layout>div>.Specail_product>.price_detail>div>p:nth-child(2){
    margin-left: 50px;
}
.name>p{
    white-space: nowrap;
}
.product1>.Specail_product>.price_detail>.name>p:nth-child(2){
    margin-left: 35px;
}
.product1>.Specail_product>.price_detail>.name>.ADD-card{
    width: 120px;
}
.name{
    gap:5px
}



@keyframes fadeUp{
    from{
        opacity:0;
        transform: translate(-50%,20px);
    }
    to{
        opacity:1;
        transform: translate(-50%,0);
    }
}
/* Initial state: hidden and slightly translated */
.scroll-animate {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.7s ease;
}

/* When visible: fade in and move up */
.scroll-animate.show {
    opacity: 1;
    transform: translateY(0);
}



